.kingsman {
	background-color: #a33624;
}

.trumbo {
	background-color: #BD8164;
}

.imitation {
	background-color: #B26F2D;
}

.pitch1 {
	background-color: #DCD514;
}

.pitch2 {
	background-color: #B8B659;
}

.john {
	background-color: #C96D60;
}
