.review-card{
	padding: 2em;
}

p .review{
	margin: 2em 0px;
}

/*Text-Formats*/

.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}
.indent{
	text-indent: 2em;
}
.justify{
	text-align: justify;
	text-justify: inter-word;
}

a {
	outline: 0;
}

.col {
	margin-left: 1.6%;
	padding: 0 0%;
}

/*.row .col:first-child {
	margin-left: 0;
}*/

.row .col {
	margin-bottom: 10px;
}

.tabs .indicator {
	background-color: #ffcdd2;
}

.tabs .tab {
	background-color: #d32f2f;
}

.tabs .tab a {
	color: #ffffff;
}

.tabs .tab a:hover {
	/*color: #F5F5F5; */
	color: #ffffff;
	background-color: #f44336;
}

@media only screen and (min-width : 601px) {
	.tabs .tab {
		line-height: 48px;
	}
	
	.tabs .tab a {
		padding: 0px 15px;
	}	
	
}

.new-line {
	display: block;
}

.movie-page-poster {
	width: 100%;
}